
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body.contents {
  /*font-family:'Inconsolata';*/
  font-family: 'Source Code Pro', monospace;
  background-color: #111111;
  }
.fh{
  font-family: 'Source Code Pro', monospace;
}

.container {
max-width: 30rem;
margin: 0 auto;
padding: 0 2rem;
}

/*tooltip*/
.cp_tooltip {
	display: inline-block;
}
.cp_tooltiptext {
	position: relative;
	cursor: pointer;
	/*background: linear-gradient(transparent 60%, #00b734 60%);*/
  color:green;
}
.cp_tooltiptext::after {
	position: absolute;
	transition: all 0.3s ease 0s;
	opacity: 0;
	top: 0px;/*HOVERのスタート位置*/
	left: 0px;
	display: block;
	padding: 0.2em 0.5em;
	content: attr(data-tooltip);
	white-space: nowrap;
	color: #ffffff;
	border-radius: 6px;
	background: #1b2538;
}
.cp_tooltiptext:hover::after {
	top: 26px;/*HOVER位置*/
	opacity: 1;
}
/* <div class="cp_tooltip">This is a <span data-tooltip="tip-tip!!" class="cp_tooltiptext">Tooltip</span> here.</div> */
/*tooltip*/

/*navigation*/

nav ul{
　display: table;
　margin: 0 auto;
　padding: 0;
　width: 80%;
　text-align: center;
}
nav ul li{
　display: table-cell;
　min-width: 50px;
　position: relative;
}
nav ul li:not(:first-child):after{
　position: absolute;
　content: ‘/’;
　top: 30%;
　left: 0;
}
nav ul li a{
　display: block;
　width: 100%;
　padding: 10px 0;
　text-decoration: none;
　color: #ccc;
　font-weight: bold;
}
nav ul li.current a{
　color: #A77B1C;
}
nav ul li a:hover{
　color: #C55859;
}
/*navigation*/

/*
<nav>
　<ul>
　　<li class=”current”><a href=”#”>Home</a></li>
　　<li><a href=”#”>News</a></li>
　　<li><a href=”#”>About</a></li>
　　<li><a href=”#”>Access</a></li>
　　<li><a href=”#”>Blog</a></li>
　</ul>
</nav>
*/


a:link{ color:mediumseagreen }
a:visited { color:darkcyan }
