
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body.contents {
  font-family:'Inconsolata';
  background-color: #111111;
  }

.container {
max-width: 30rem;
margin: 0 auto;
padding: 0 2rem;
}
